## import librarries

In [41]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow import keras

## read data

In [42]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

## get information about data

In [43]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

## cleaning

### drop unnecessary columns

In [45]:
df.drop('customerID',axis = 1 ,inplace = True)

In [46]:
df.shape

(7043, 20)

## validate columns types

In [47]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [48]:
df.TotalCharges= pd.to_numeric(df.TotalCharges, errors = 'coerce')

----------------
### remove null data

In [49]:
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [50]:
df.dropna(inplace=True)

--------------------------
### remove duplicates

In [51]:
df[df.duplicated()].shape

(22, 20)

In [52]:
df.drop_duplicates(inplace=True)

### encoding [dummy variable]

In [53]:
for c in df.columns:
  if df[c].dtypes== 'O':
    print(f'{c} : {df[c].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [54]:
df=df.replace('No phone service','No')

In [55]:
df=df.replace('No internet service','No')

In [56]:
for c in df.columns:
  if df[c].dtypes== 'O':
    print(f'{c} : {df[c].unique()}')

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes']
OnlineBackup : ['Yes' 'No']
DeviceProtection : ['No' 'Yes']
TechSupport : ['No' 'Yes']
StreamingTV : ['No' 'Yes']
StreamingMovies : ['No' 'Yes']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [57]:
df = pd.get_dummies(data=df , columns = ['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn'], drop_first=True)

In [58]:
df.shape

(7010, 24)

----------------
## scaling

In [59]:
scaler = StandardScaler()
df[['tenure','MonthlyCharges','TotalCharges']] = scaler.fit_transform(df[['tenure','MonthlyCharges','TotalCharges']])

In [60]:
df.sample(4)

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,InternetService_Fiber optic,...,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
5103,0,-0.184365,0.597464,0.013432,0,1,1,1,0,1,...,0,0,1,1,0,1,0,0,0,0
5846,0,-1.203996,0.372933,-0.896806,0,0,0,1,1,1,...,0,0,0,0,0,0,0,1,0,0
2157,0,0.753694,1.394134,1.415496,1,1,0,1,1,1,...,0,1,1,1,0,1,0,0,0,0
588,0,1.610184,1.139665,2.264013,1,1,0,1,1,1,...,0,0,1,0,1,1,0,1,0,0

In [61]:
df.head(5)

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,InternetService_Fiber optic,...,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,-1.285566,-1.165523,-0.997284,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,0.060346,-0.264071,-0.176848,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,-1.244781,-0.367189,-0.962740,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,0.508983,-0.751387,-0.198355,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,0,-1.244781,0.193308,-0.943549,0,0,0,1,0,1,...,0,0,0,0,0,1,0,1,0,1

-------------------
## split data

In [62]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

-----------------
## resample imbalanced data [SMOTE technique]

In [63]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
x , y = smote.fit_resample(x,y)

In [64]:
y.value_counts()

0    5153
1    5153
Name: Churn_Yes, dtype: int64

In [65]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=.2,random_state=123,stratify=y)

--------------------------------------------

## build ANN model

In [75]:
model = keras.Sequential([
    keras.layers.Dense(80, input_shape =(23,) ,activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(70, activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(60, activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(50, activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(40,activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(30,activation = 'relu') ,
    keras.layers.Dropout(.2),
    keras.layers.Dense(20,activation = 'relu'),
    keras.layers.Dropout(.2),
    keras.layers.Dense(10,activation = 'relu'),
    keras.layers.Dropout(.2),
    keras.layers.Dense(1,activation = 'sigmoid')

])

model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

model.fit(x_train,y_train , epochs = 100)

Epoch 1/100
258/258 [==============================] - 7s 5ms/step - loss: 0.5818 - accuracy: 0.7028
Epoch 2/100
258/258 [==============================] - 1s 5ms/step - loss: 0.5133 - accuracy: 0.7676
Epoch 3/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4983 - accuracy: 0.7744
Epoch 4/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4834 - accuracy: 0.7808
Epoch 5/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4731 - accuracy: 0.7836
Epoch 6/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4728 - accuracy: 0.7880
Epoch 7/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4656 - accuracy: 0.7920
Epoch 8/100
258/258 [==============================] - 2s 6ms/step - loss: 0.4596 - accuracy: 0.7923
Epoch 9/100
258/258 [==============================] - 2s 6ms/step - loss: 0.4548 - accuracy: 0.7937
Epoch 10/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4570 - accuracy: 0.7967
Epoch 11/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4533 - accuracy: 0.7963
Epoch 12/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4462 - accuracy: 0.8007
Epoch 13/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4510 - accuracy: 0.7963
Epoch 14/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4454 - accuracy: 0.8047
Epoch 15/100
258/258 [==============================] - 1s 6ms/step - loss: 0.4387 - accuracy: 0.8035
Epoch 16/100
258/258 [==============================] - 1s 6ms/step - loss: 0.4335 - accuracy: 0.8087
Epoch 17/100
258/258 [==============================] - 2s 7ms/step - loss: 0.4346 - accuracy: 0.8060
Epoch 18/100
258/258 [==============================] - 1s 6ms/step - loss: 0.4331 - accuracy: 0.8099
Epoch 19/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4321 - accuracy: 0.8063
Epoch 20/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4260 - accuracy: 0.8126
Epoch 21/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4185 - accuracy: 0.8166
Epoch 22/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4209 - accuracy: 0.8140
Epoch 23/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4288 - accuracy: 0.8128
Epoch 24/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4234 - accuracy: 0.8167
Epoch 25/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4189 - accuracy: 0.8176
Epoch 26/100
258/258 [==============================] - 2s 6ms/step - loss: 0.4138 - accuracy: 0.8253
Epoch 27/100
258/258 [==============================] - 2s 6ms/step - loss: 0.4135 - accuracy: 0.8205
Epoch 28/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4118 - accuracy: 0.8228
Epoch 29/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4012 - accuracy: 0.8303
Epoch 30/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4024 - accuracy: 0.8257
Epoch 31/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4048 - accuracy: 0.8221
Epoch 32/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4023 - accuracy: 0.8247
Epoch 33/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4032 - accuracy: 0.8258
Epoch 34/100
258/258 [==============================] - 1s 5ms/step - loss: 0.4014 - accuracy: 0.8258
Epoch 35/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3955 - accuracy: 0.8305
Epoch 36/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3967 - accuracy: 0.8348
Epoch 37/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3969 - accuracy: 0.8261
Epoch 38/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3924 - accuracy: 0.8327
Epoch 39/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3897 - accuracy: 0.8302
Epoch 40/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3931 - accuracy: 0.8242
Epoch 41/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3900 - accuracy: 0.8307
Epoch 42/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3864 - accuracy: 0.8358
Epoch 43/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3931 - accuracy: 0.8342
Epoch 44/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3938 - accuracy: 0.8290
Epoch 45/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3828 - accuracy: 0.8358
Epoch 46/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3791 - accuracy: 0.8375
Epoch 47/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3807 - accuracy: 0.8384
Epoch 48/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3762 - accuracy: 0.8355
Epoch 49/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3782 - accuracy: 0.8371
Epoch 50/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3732 - accuracy: 0.8426
Epoch 51/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3779 - accuracy: 0.8418
Epoch 52/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3744 - accuracy: 0.8381
Epoch 53/100
258/258 [==============================] - 1s 6ms/step - loss: 0.3793 - accuracy: 0.8362
Epoch 54/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3773 - accuracy: 0.8361
Epoch 55/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3717 - accuracy: 0.8417
Epoch 56/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3746 - accuracy: 0.8352
Epoch 57/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3685 - accuracy: 0.8469
Epoch 58/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3708 - accuracy: 0.8438
Epoch 59/100
258/258 [==============================] - 1s 6ms/step - loss: 0.3691 - accuracy: 0.8398
Epoch 60/100
258/258 [==============================] - 1s 6ms/step - loss: 0.3687 - accuracy: 0.8398
Epoch 61/100
258/258 [==============================] - 1s 6ms/step - loss: 0.3680 - accuracy: 0.8415
Epoch 62/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3647 - accuracy: 0.8428
Epoch 63/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3695 - accuracy: 0.8400
Epoch 64/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3643 - accuracy: 0.8429
Epoch 65/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3601 - accuracy: 0.8489
Epoch 66/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3623 - accuracy: 0.8462
Epoch 67/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3562 - accuracy: 0.8485
Epoch 68/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3601 - accuracy: 0.8450
Epoch 69/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3573 - accuracy: 0.8513
Epoch 70/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3614 - accuracy: 0.8413
Epoch 71/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3614 - accuracy: 0.8492
Epoch 72/100
258/258 [==============================] - 2s 8ms/step - loss: 0.3579 - accuracy: 0.8432
Epoch 73/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3529 - accuracy: 0.8445
Epoch 74/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3462 - accuracy: 0.8472
Epoch 75/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3538 - accuracy: 0.8456
Epoch 76/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3552 - accuracy: 0.8467
Epoch 77/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3608 - accuracy: 0.8439
Epoch 78/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3480 - accuracy: 0.8516
Epoch 79/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3557 - accuracy: 0.8452
Epoch 80/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3442 - accuracy: 0.8550
Epoch 81/100
258/258 [==============================] - 1s 6ms/step - loss: 0.3513 - accuracy: 0.8512
Epoch 82/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3469 - accuracy: 0.8487
Epoch 83/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3500 - accuracy: 0.8492
Epoch 84/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3429 - accuracy: 0.8565
Epoch 85/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3492 - accuracy: 0.8491
Epoch 86/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3504 - accuracy: 0.8529
Epoch 87/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3437 - accuracy: 0.8492
Epoch 88/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3449 - accuracy: 0.8509
Epoch 89/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3420 - accuracy: 0.8523
Epoch 90/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3462 - accuracy: 0.8535
Epoch 91/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3438 - accuracy: 0.8564
Epoch 92/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8567
Epoch 93/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3377 - accuracy: 0.8584
Epoch 94/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3358 - accuracy: 0.8581
Epoch 95/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3424 - accuracy: 0.8538
Epoch 96/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3352 - accuracy: 0.8584
Epoch 97/100
258/258 [==============================] - 2s 6ms/step - loss: 0.3431 - accuracy: 0.8548
Epoch 98/100
258/258 [==============================] - 2s 7ms/step - loss: 0.3410 - accuracy: 0.8531
Epoch 99/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3324 - accuracy: 0.8583
Epoch 100/100
258/258 [==============================] - 1s 5ms/step - loss: 0.3357 - accuracy: 0.8578

---------
## evaluate model

In [76]:
model.evaluate(x_test,y_test)

65/65 [==============================] - 0s 2ms/step - loss: 0.4203 - accuracy: 0.8269

[0.4202868342399597, 0.8268671035766602]

In [77]:
y_pred = model.predict(x_test)

y_pred = [np.round(i) for i in y_pred]

65/65 [==============================] - 0s 2ms/step

In [78]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.78      0.82      1031
           1       0.80      0.88      0.84      1031

    accuracy                           0.83      2062
   macro avg       0.83      0.83      0.83      2062
weighted avg       0.83      0.83      0.83      2062

In [69]:
0